.rounded{
    width:auto;
    text-align:center;
    padding:5px;
    height:200px;
    width:200px;
  

}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  .container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.slider {
    height: 300px !important;
    width: 350px !important;
}
